<app-nav-bar></app-nav-bar>
<body>
    <div class="background-image-blur" style="background-image: url('https://album.mediaset.es/cimg/1000001/2017/02/14/p1.jpg')"></div>
    <div class="background-solid-color"></div>
    <div class="card">
        <img src="https://album.mediaset.es/cimg/1000001/2017/02/14/p1.jpg" alt="Imagen del actor" class="movie-image">
    </div>
    <div class="movie-details">
        <h1 class="movie-title">Movie Title</h1>

        <div class="movie-date-phrase">
            <h3>Release Date</h3>
            <h4>IMDB ID</h4>
        </div>
        <div class="movie-description"></div>
            <p>Movie overview goes here.</p>
        </div>

</body>
