.image-blur {
    background-size: cover;
    background-position: center;
    position: absolute;
    filter: blur(5px);
    height: 50vh; /* Ahora ocupa la mitad del espacio vertical de la imagen */
    width: 100%;
    top: 80px;
    left: 0;
    z-index: -1; /* Asegura que la imagen difuminada quede detrás del contenido */
    filter: blur(5px) brightness(0.5); /* Añade brillo para oscurecer la imagen */
}

.background-image-blur {
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    z-index: -1; /* Queda por debajo del contenido */
}

.content {
    display: flex;
    flex-direction: row;  /* Cambia de columna a fila */
    margin: 20px;
    z-index: 1;  /* Asegura que el contenido quede por encima del fondo */
}

.watch-now {
    text-align: center;
    margin-top: 20px;
}

.card-container {
    display: inline-block;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
}

.card {
    margin: 40px 0px 0px 40px;
    background-color: white;
    border-radius: 16px;
    display: inline-block;

}

.movie-image-container {

    display: block;
    width: 450px; /* Ajusta el tamaño de la imagen */
    height: auto;
    border-radius: 16px;
    overflow: hidden;
  
}

.movie-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
    
}

.movie-details-left {
    margin: 40px 0px 0px 40px;
    padding: 20px;
    border-radius: 10px;
}

.movie-details-left h4{
    font-size: 28px;
}

.movie-details-left h5{
    margin-top: 30px;
    font-size: 18px;
}

.detail-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    filter: invert(50%) sepia(100%) saturate(1000%) hue-rotate(120deg) brightness(100%) contrast(100%);
}

.movie-details-container {
    margin-left: 80px; /* Deja espacio a la izquierda de los detalles */
    justify-content: flex-start; /* Alinea los detalles en la parte superior */
    flex: 1;
    margin-top: 70px;
}

.movie-title {
    font-size: 60px;
    font-weight: bold;
    color: white;
}

.genre-icons-container {
    margin-bottom: 15px;
}

.genre-tooltip {
    border-radius: 10px;
    background-color: white;
    color: black;
    font-size: 12px;
    padding: 4px 14px;
    font-weight: bold;
}

.movie-date {
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
}

.rating-row{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 4px 14px;
    border-radius: 10px;
    width: 315px;
}

.trailer{
    background-color: springgreen;
    padding: 8px 20px;
    color: rgb(6, 6, 57);
    font-weight: bold;
}

.details-down{
    margin-top: 15vh;
}

.actors{
    color: white;
    display: grid;
    grid-template-columns: repeat(8, 1fr);

}

.card-reparto{
    background-color: #09273C;
    color: white;
    border: none;
}

.card-reparto img{
    width: 120px;
    height: 160px;
    border-radius: 10px;
}


