<app-nav-bar></app-nav-bar>

<div class="banner">
    <div class="image-blur"
        [ngStyle]="{'background-image': 'url(' + obtenerImagenPelicula(500, movies!.backdrop_path) + ')'}">
    </div>
</div>

@if(movies != undefined){
<div class="content row">
    <div class="card-container col-3">
        <div class="card">
            <div class="movie-image-container">
                <img [src]="movies.poster_path ? obtenerImagenPelicula(200, movies.poster_path) : 'assets/placeholder.svg'"
                    alt="Imagen de la película" class="movie-image">
            </div>
            <div class="watch-now"><!--METER ESTILO-->
                <h3>Ver ahora:</h3>
                <div class="production-companies">
                    <img *ngFor="let provider of providers" [src]="obtenerImagenPelicula(200, provider.logo_path)"
                        alt="{{ provider.provider_name }}" class="company-logo">
                    <p *ngIf="providers.length === 0">No disponible en España</p>
                </div>
            </div>
        </div>

        <div class="movie-details-left text-white container mb-4">
            <div class="row mb-4">
                <div class="col-12 d-flex align-items-center">
                    <i class="fas fa-check-circle me-3" style="font-size: 2rem; color: white;"></i>
                    <div>
                        <img src="https://fonts.gstatic.com/s/i/materialicons/title/v6/24px.svg" alt="Original Title"
                            class="detail-icon">

                        <h4 class="mb-1 fw-bold">Título Original</h4>

                        <h5 class="text-light">{{ movies.original_title }}</h5>
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-12 d-flex align-items-center">
                    <i class="fas fa-check-circle me-3" style="font-size: 2rem; color: white;"></i>
                    <div>
                        <img src="https://fonts.gstatic.com/s/i/materialicons/verified/v6/24px.svg" alt="Status"
                            class="detail-icon">
                        <h4 class="mb-1 fw-bold">Estado</h4>
                        <h5 class="text-light">{{ movies.status }}</h5>
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-12 d-flex align-items-center">
                    <i class="fas fa-check-circle me-3" style="font-size: 2rem; color: white;"></i>
                    <div>
                        <img src="https://fonts.gstatic.com/s/i/materialicons/language/v6/24px.svg"
                            alt="Original Language" class="detail-icon">
                        <h4 class="mb-1 fw-bold">Idioma Original</h4>
                        <h5 class="text-light">{{ movies.original_language }}</h5>
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-12 d-flex align-items-center">
                    <i class="fas fa-check-circle me-3" style="font-size: 2rem; color: white;"></i>
                    <div>
                        <img src="https://fonts.gstatic.com/s/i/materialicons/attach_money/v6/24px.svg" alt="Budget"
                            class="detail-icon">
                        <h4 class="mb-1 fw-bold">Presupuesto</h4>
                        <h5 class="text-light">{{ movies.budget }}</h5>
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-12 d-flex align-items-center">
                    <i class="fas fa-check-circle me-3" style="font-size: 2rem; color: white;"></i>
                    <div>
                        <img src="https://fonts.gstatic.com/s/i/materialicons/trending_up/v6/24px.svg" alt="Revenue"
                            class="detail-icon">
                        <h4 class="mb-1 fw-bold">Ingresos</h4>
                        <h5 class="text-light">{{ movies.revenue | currency:'USD':'symbol':'1.0-0' }}</h5>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="movie-details-container col-10">
        <h1 class="movie-title">{{ movies.title }}</h1>

        <div class="genre-icons-container d-flex mb-3 gap-3">
            <div class="genre-tooltip">
                @for(genre of movies.genres; track movies.genres){
                {{genre.name}}
                }
            </div>
        </div>

        <div class="movie-date mb-3">
            <h3>{{ movies.release_date }}</h3>
        </div>

        <div class="movie-rating">
            <div class="rating-box mb-3">
                <div class="rating-row">
                    <ng-container *ngFor="let color of getPopcornIcons(movies.vote_average); let i = index">
                        <img src="assets/popcorn.png" [ngStyle]="{'filter': color}" alt="Palomitas"
                            class="popcorn-icon">
                    </ng-container>
                </div>
            </div>

            <div class="py-3">
                <button (click)="verTrailer()" class="trailer btn boton ">Ver Trailer</button>
            </div>

        </div>

        <div class="details-down">
            <div class="movie-description mb-4">
                <p class="text-white">{{ movies.overview }}</p>
            </div>

            <h2 class="text-start mb-4 text-white">Reparto</h2>
            <div class="movie-cast d-flex align-self-start justify-content-center">
                <div class="actors d-flex text-center justify-content-center">
                        <div *ngFor="let actor of cast?.slice(0, 7)"
                            class="cast-item d-flex flex-column text-wrap justify-content-center">
                                <div class="card card-reparto d-block mx-auto" style="width: 170px;">
                                    <a [routerLink]="['/person', actor.id]" class="person-link">
                                        <img [src]="actor.profile_path ? obtenerImagenOriginal(actor.profile_path) : 'https://placehold.co/150x230?text=Imagen+no+disponible'"
                                            alt="{{ actor.name }}" class="actor-image">
                                    </a> 
                                    <div class="d-flex flex-column">
                                        <p class="actor-name">{{ actor.name }}</p>
                                        <p class="actor-character">{{ actor.character }}</p>
                                    </div>
                                </div>
                        </div>
                </div>
            </div>

            
        </div>



        </div>




    </div>
    }