<app-nav-bar></app-nav-bar>
<body>
    <div class="header">
        <h1>Actores</h1>
        <div class="search-bar">
            <input type="text" placeholder="Buscar" (keydown.enter)="searchPeople($event)">

            <div class="search-icon" style="height: 100%; display: flex; align-items: center; justify-content: center;">🔍</div>
          </div>
          
    </div>
    <div class="people-grid">
        <div *ngFor="let person of filteredPeople" class="person-card">
          <a [routerLink]="['/person', person.id]" class="person-link">
            <div class="img">
              <img [src]="'https://image.tmdb.org/t/p/w500' + person.profile_path" [alt]="person.name">
            </div>
            <div class="actor-info">
              <div class="actor-name">
                <p>{{ person.name }}</p>
              </div>
              <div class="known-for">
                <p>{{ person.known_for_department }}</p>
              </div>
            </div>
          </a>
        </div>
      </div>



    <div class="pagination">
        <a *ngFor="let page of pageNumbers" (click)="goToPage(page)" [ngClass]="{'active': currentPage === page}" style="margin: 0 10px;">
          {{ page }}
        </a>
    </div>
</body>
