.filter-switch-second {
    border: 2px solid #00FFAE;
    background-color: white;
    border-radius: 30px;
    position: relative;
    display: flex;
    align-items: start;
    height: 40px;
    width: 300px;
    overflow: hidden;
    margin: 0 20px;
  }
  
  .filter-switch-second input {
    display: none;
  }
  
  .filter-switch-second label {
    flex: 1;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all 0.5s;
    font-weight: 500;
    font-size: 18px;
  }
  
  .filter-switch-second .background-second {
    position: absolute;
    width: 50%;
    height: 38px;
    margin: 0px;
    background-color: #00FFAE;
    top: 0px;
    left: 0px;
    border-radius: 30px;
    transition: left 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  #option8:checked~.background-second {
    left: 50%;
  }
  
  #option7:checked+label[for="option7"] {
    color: #09273C;
    font-weight: bold;
  }
  
  #option8:checked+label[for="option8"] {
    color: #09273C;
    font-weight: bold;
  }
  
  #option7:not(:checked)+label[for="option7"],
  #option8:not(:checked)+label[for="option8"] {
    color: #7d7d7d;
  }

  * {
    font-family: 'Inter', sans-serif;
  }
  
  .container-fluid {
    width: 100%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: calc(var(--bs-gutter-x, 0.75rem) / -2);
    margin-left: calc(var(--bs-gutter-x, 0.75rem) / -2);
  }
  
  .justify-content-around {
    justify-content: space-around !important;
  }
  
  .mt-0 {
    margin-top: 0 !important;
  }
  
  .mb-4 {
    margin-bottom: 1.5rem !important;
  }
  
  .movie-container {
    position: relative;
    top: -200px;
  }
  
  .movie-card {
    position: relative;
    width: 220px;
    height: 430px;
    top: -20px;
  }
  
  .col-2 {
    flex: 0 0 auto;
    width: 16.666667%;
  }
  
  .bg-light {
    background-color: #f8f9fa !important;
  }
  
  .rounded-circle {
    border-radius: 50% !important;
  }
  
  .card-img {
    box-sizing: border-box;
    width: 200px;
    height: 300px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 2px 4px 15px rgba(255, 255, 255, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .card-img:hover {
    border: 1px solid black;
    transform: scale(1.05);
  }
  
  .card-img:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }
  
  .text-light {
    color: #f8f9fa !important;
  }
  
  .text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .mt-2 {
    margin-top: 0.5rem !important;
  }
  
  .colored-aqua {
    color: #00FFAE;
  }




