<app-nav-bar></app-nav-bar>

<h1 class="text-center p-2 text-white mt-4">
    Populares <i class="bi bi-fire"></i>
</h1>

<div class="container mt-3">
    <div class="row">

        <aside class="col-md-3">
            <div class="card p-4" style="border-radius: 10px; background-color: #e3f2fd;">
                <h4 class="text-center mb-4">Ordenar</h4>
                <div class="mb-4">
                    <select class="form-select" id="ordenSalida" style="border: 2px solid hsl(205, 74%, 14%); border-radius: 100px;">
                        <option value disabled selected>Seleccionar</option>
                        @for (valor of valoresFiltroFecha; track $index) {
                            <option value="">{{valor.name}}</option>
                        }
                    </select>
                </div>
                
                <h4 class="text-center mb-4">Filtros</h4>
                <div class="row mb-3">
                    <div class="col-auto">
                        <label for="fechaDesde" class="form-label py-2">Desde</label>
                    </div>
                    <div class="col">
                        <input type="date" class="form-control" id="fechaDesde" style="border: 2px solid hsl(205, 74%, 14%); border-radius: 10px;">
                    </div>
                </div>
                
                <div class="row mb-3">
                    <div class="col-auto">
                        <label for="fechaHasta" class="form-label py-2">Hasta</label>
                    </div>
                    <div class="col">
                        <input type="date" class="form-control" id="fechaHasta" style="border: 2px solid hsl(205, 74%, 14%); border-radius: 10px;">
                    </div>
                </div>

                <div class="form-check mb-3">
                    <input type="checkbox" class="form-check-input" id="soloGratuitas" checked style="border-radius: 10px;">
                    <label class="form-check-label" for="soloGratuitas">Solo gratuitas</label>
                </div>

                <label for="puntuacion" class="form-label">Por puntuación</label>
                <input type="range" class="form-range mb-3" min="0" max="100" id="puntuacion" style="border-radius: 10px;">

                <input type="text" class="form-control mb-3" placeholder="Buscar por nombre" style="border: 2px solid hsl(205, 74%, 14%); border-radius: 100px;">
                <button class="btn w-100" style="background-color: hsl(205, 74%, 14%); color: white; border-radius: 100px;">Enviar</button>
            </div>
        </aside>


        <section class="col-md-9">
            <div class="row">
                @for (serie of listaSeries; track serie) {
                    <div class="col-6 col-md-4 col-lg-2 mb-5">
                        <div class="carta" style="border-radius: 1px; color: white;">
                            <div class="position-relative carta">
                                <img src="assets/arcane.jpg" class="card-img-top" alt="ponerFotoSerie" style="border-radius: 10px 10px 10px 10px; border: 1px solid white;">
                                <!-- AQUI VA CIRCULO PORCIENTO -->
                            </div>
                            <div class="card-body p-2">
                                <h6 class="card-title text-center">{{serie.name}}</h6>
                                <p class="text-center fecha mb-0"><small>{{serie.first_air_date}}</small></p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </section>
    </div>
</div>
