h1{
    padding-top: 20px;
    padding-right: 10%;
}

.borde-filtrado{
    border-color: rgb(156, 236, 156);
}

.btn{
    background-color: #00FFAE;
}

.fecha{
    color: rgb(156, 236, 156);
}

.carta{
    border-color: aliceblue;
}

form input {
    outline: none;
    border: none;
}

form input:focus {
    outline: none;
    border: none;
}
.card-img:hover{
    transform: scale(1.05);
}