<app-nav-bar></app-nav-bar>

<div class="banner">
    <div class="image-blur"
        [ngStyle]="{'background-image': 'url(' + obtenerImagenOriginal( series[0].backdrop_path) + ')'}">
    </div>
</div>
<!--<div class="background-solid-color"></div>-->


<div *ngIf="series.length > 0">
    <div class="content row">
        <!-- Tarjeta de la imagen -->
        <div class="card-container col-3">
            <div class="card">
                <div class="movie-image-container">
                    <img [src]="series[0].poster_path ? obtenerImagenOriginal(series[0].poster_path) : 'https://placehold.co/400x600?text=Imagen+no+disponible'"
                        alt="Imagen de la serie" class="movie-image">
                </div>
            </div>

            <!-- Detalles adicionales como estado de emisión, temporadas, idioma -->

            <div class="movie-details-left text-white container mb-4">
                <div class="row mb-4">
                    <div class="col-12 d-flex align-items-center">
                        <i class="fas fa-check-circle me-3" style="font-size: 2rem; color: white;"></i>
                        <div>
                            <h4 class="mb-1 fw-bold">Estado</h4>
                            <h5 class="text-light">{{ series[0].status | showStatus}}</h5>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-12 d-flex align-items-center">
                        <i class="fas fa-check-circle me-3" style="font-size: 2rem; color: white;"></i>
                        <div>
                            <h4 class="mb-1 fw-bold">Numero de temporadas</h4>
                            <h5 class="text-light">{{ series[0].number_of_seasons }}</h5>
                        </div>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-12">
                        <div class="d-flex align-items-center mb-3">
                            <i class="fas fa-tv me-3" style="font-size: 2rem; color: white;"></i>
                            <h4 class="mb-0 fw-bold">Canales</h4>
                        </div>
                        <div class="row mt-2">
                            <div *ngFor="let canales of series[0].networks; track by $index" class="col-3 text-center">
                                <img *ngIf="canales.logo_path"
                                    [src]="'https://image.tmdb.org/t/p/w500/' + canales.logo_path" alt="Logo del canal"
                                    class="img-fluid rounded channel-logo" style="max-width: 100px; padding-left : 20%">
                                <img *ngIf="!canales.logo_path"
                                    src="https://placehold.co/50x50?text=Imagen+no+disponible" alt="placeholder"
                                    class="img-fluid rounded" style="max-width: 50px;">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-12 d-flex align-items-center">
                        <i class="fas fa-globe me-3" style="font-size: 2rem; color: white;"></i>
                        <div>
                            <h4 class="mb-1 fw-bold">Idioma Original</h4>
                            <h5 class="text-light">{{ series[0].original_language | idiom }}</h5>
                        </div>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-12">
                        <div class="d-flex align-items-center mb-3">
                            <i class="fas fa-tags me-3" style="font-size: 2rem; color: white;"></i>
                            <span class="material-icons" style="color: #00FFAE;">info</span>
                            <h4 class="mb-0 fw-bold">Palabras clave</h4>
                        </div>
                        <div class="mt-2" style="padding-left: 20px;">
                            <span *ngFor="let keyword of keyWords" class="badge text-white">
                                {{ keyword.results[0].name }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Información principal de la serie -->
        <div class="movie-details-container col-10">
            <h1 class="movie-title">{{ series[0].name }}</h1>

            <!-- Géneros -->
            <div class="genre-icons-container d-flex mb-3 gap-3">
                <div class="genre-tooltip" *ngFor="let genre of series[0].genres">
                    {{ genre.name }}
                </div>
            </div>

            <!-- Fecha de lanzamiento -->

            <div class="movie-date mb-3">
                <h3>{{ series[0].first_air_date }}</h3>
            </div>

            <!-- Valoración -->
            <div class="movie-rating">
                <div class="rating-box mb-3">
                    <div class="rating-row">
                        <ng-container *ngFor="let color of getPopcornIcons(series[0].vote_average); let i = index">
                            <img src="assets/popcorn.tmp" [ngStyle]="{'filter': color}" alt="Palomitas"
                                class="popcorn-icon" style="width: 36px;">
                        </ng-container>
                    </div>
                </div>
                <div class="py-3">
                    <button (click)="getTrailer(series[0].id)" class="trailer btn boton ">Ver Trailer</button>
                </div>
            </div>
            <!-- Detalles adicionales de la serie -->
            <div class="details-down">
                <!-- Descripción de la serie -->
                <div class="movie-description mb-4">
                    <p class="text-white">{{ descripcion }}</p>
                </div>

                <!-- Reparto -->
                <h2 class="text-start mb-4 text-white">Reparto</h2>
                <div class="movie-cast d-flex align-self-start justify-content-center">
                    <div class="actors d-flex text-center justify-content-center">
                        <div *ngFor="let actor of cast?.cast?.slice(0, 7)"
                            class="cast-item d-flex flex-column text-wrap justify-content-center">
                            <div class="card card-reparto d-block mx-auto" style="width: 170px;">
                                <a [routerLink]="['/person', actor.id]" class="person-link">
                                    <img [src]="actor.profile_path ? obtenerImagenOriginal(actor.profile_path) : 'https://placehold.co/150x230?text=Imagen+no+disponible'"
                                        alt="{{ actor.name }}" class="actor-image">
                                </a>
                                <div class="d-flex flex-column">
                                    <p class="actor-name"><span class="text-truncate">{{ actor.name }}</span></p>
                                    <p class="actor-character"><span class="text-truncate">{{ actor.character }}</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Temporadas -->
                <h2 class="text-start mb-4 text-white temporadas-title">Temporadas</h2>
                <div class="test temporadas-section">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-8" style="border-radius: 40px;">
                                <mat-accordion style="border-radius: 40px;">
                                    <div *ngFor="let serie of series[0].seasons">
                                        <mat-expansion-panel class="no-border-radius" style="border-radius: 0;"
                                            hideToggle>
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>{{ serie.name }}</mat-panel-title>
                                                <mat-panel-description>
                                                    Descripción
                                                </mat-panel-description>
                                            </mat-expansion-panel-header>
                                            <p>{{ serie.overview }}</p>
                                        </mat-expansion-panel>
                                    </div>
                                </mat-accordion>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>





    </div>
</div>