/* Fondo de imagen borrosa en la mitad superior */
.image-blur {
    background-size: cover;
    background-position: center;
    position: absolute;
    filter: blur(5px) brightness(0.5); /* Añade brillo para oscurecer la imagen */
    height: 50vh; /* Ahora ocupa la mitad del espacio vertical de la imagen */
    width: 100%;
    top: 80px;
    left: 0;
    z-index: -1; /* Asegura que la imagen difuminada quede detrás del contenido */
}

.background-solid-color {
    background-color: #09273C;
    height: 50vh;
    width: 100%;
    position: absolute;
    top: calc(50vh + 80px);
}

/* Contenedor principal de la tarjeta, ajustado para mostrar contenido al lado de la imagen */
.content {
    display: flex;
    flex-direction: row;  /* Cambia de columna a fila */
    margin: 20px;
    z-index: 1;  /* Asegura que el contenido quede por encima del fondo */
}

/* Contenedor de la tarjeta para la imagen */
.card-container {
    display: inline-block;
    margin-bottom: 20px;
    position: relative;
    z-index: 2;
}

/* Fondo blanco de la tarjeta cubriendo solo la imagen */
.card {
    margin: 40px 0px 0px 40px;
    background-color: white;
    border-radius: 16px;
    display: inline-block;

}

/* Solo la imagen dentro de la tarjeta */
.movie-image-container {

    display: block;
    width: 450px; /* Ajusta el tamaño de la imagen */
    height: auto;
    border-radius: 16px;
    overflow: hidden;
  
}

/* Estilo de la imagen */
.movie-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
    
}

/* Detalles de la película al lado de la imagen */
.movie-details-container {
    margin-left: 80px; /* Deja espacio a la izquierda de los detalles */
    justify-content: flex-start; /* Alinea los detalles en la parte superior */
    flex: 1;
    margin-top: 70px;
}

/* Título de la película */
.movie-title {
    font-size: 60px;
    font-weight: bold;
    color: white;
}

/* Estilos para los géneros */
.genre-icons-container {
    margin-bottom: 15px;
}

/* Géneros */
.genre-tooltip {
    border-radius: 10px;
    background-color: white;
    color: black;
    font-size: 12px;
    padding: 4px 14px;
    font-weight: bold;
}

/* Detalles de la fecha, valoración, y otros */
.movie-date {
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
}

/* Detalles adicionales como estado de emisión, temporadas, idioma */
.movie-details-left {
    margin: 40px 0px 0px 40px;
    padding: 20px;
    border-radius: 10px;
}

.movie-details-left h4{
    font-size: 28px;
}

.movie-details-left h5{
    margin-top: 30px;
    font-size: 18px;
}

.background-image-blur {
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    z-index: -1; /* Queda por debajo del contenido */
}

.rating-row{
    background-color: rgba(0, 0, 0, 0.3);
    padding: 4px 14px;
    border-radius: 10px;
    width: 215px;
}

.trailer{
    background-color: springgreen;
    padding: 8px 20px;
    color: rgb(6, 6, 57);
    font-weight: bold;
}

.actor-image{
    width: 100px;
    height: 100px;
}

.details-down{
    margin-top: 15vh;
}

.actors{
    color: white;
    display: grid;
    grid-template-columns: repeat(8, 1fr);

}

.card-reparto{
    background-color: #09273C;
    color: white;
    border: none;
}

.card-reparto img{
    width: 120px;
    height: 160px;
    border-radius: 10px;
}

.temporadas-title {
    text-align: left;
    margin-left: 20px;
}

.temporadas-section {
    margin-left: 20px;
    display: flex;
    justify-content: flex-start;
}

.channel-logo {
    filter: brightness(0) saturate(100%) invert(60%) sepia(100%) saturate(500%) hue-rotate(100deg) brightness(100%) contrast(100%);
}
