<app-nav-bar></app-nav-bar>
<ng-template #successTpl>
    Valoración cambiada
  </ng-template>

    
    @if(seBorra == false){         
    <div class="toast-container">
        <ngb-toast *ngFor="let toast of toastService.toasts"
                    [class]="toast.classname"
                    [autohide]="true"
                    [delay]="toast.delay || 5000"
                    (hidden)="toastService.remove(toast)">
          <div class="toast-content">
            <span>Valoracion cambiada con éxito</span>
            <button class="close-btn" (click)="toastService.remove(toast)"><i class="bi bi-x-lg text-white"></i></button>
          </div>
          <ng-template [ngTemplateOutlet]="toast.template"></ng-template> 
        </ngb-toast>
      </div>
    }
      @if (seBorra) {
        <div class="toast-container">
            <ngb-toast *ngFor="let toast of toastService.toasts"
                        [class]="toast.classname"
                        [autohide]="true"
                        [delay]="toast.delay || 5000"
                        (hidden)="toastService.remove(toast)">
              <div class="toast-content">
                <span>Valoración borrada con éxito</span>
                <button class="close-btn" (click)="toastService.remove(toast)"><i class="bi bi-x-lg text-white"></i></button>
              </div>
              <ng-template [ngTemplateOutlet]="toast.template"></ng-template> 
            </ngb-toast>
          </div>
      }
    @if(series?.backdrop_path!=null){
        <div class="background-image-blur" 
            [ngStyle]="{'background-image': 'url(' + obtenerImagenOriginal(backdropPath) + ')'}">
        </div>
    }@else{

        <div class="background-image-blur" 
            [ngStyle]="{'background-image': 'url(https://placehold.co/1920x1080?text=Imagen+no+disponible)'}">
        </div>
    }

    <div class="background-solid-color"></div>

    <div *ngIf="series != undefined">

        <div class="card mb-4">
            <img [src]="series.poster_path ? obtenerImagenOriginal(series.poster_path) : 'https://placehold.co/200x270?text=Imagen+no+disponible'"
                alt="Imagen de la serie" class="movie-image">
        </div>        
        <div class="movie-details">
            <div class="details-up mb-4 w-100" style="position: absolute; top:-300px;">
                
                <div class="movie-title-container text-white" style="width:800px">
                    <h1 class="movie-title">{{ series.name }}</h1>
                </div>
                
                <div class="movie-date genero mb-3" style="width:800px">
                    <h5>{{ genero }}</h5>
                </div>

                <div class="movie-date mb-3" style="width:800px">
                    <h3>{{ series.first_air_date | dateFormater }}</h3>
                </div>

                <div class="movie-rating" style="width:800px">
                    <div class="rating-box mb-3">
                      <div class="rating-row">
                        <button (click)="deleteSeriesRating(series.id)" class="btn ">
                          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                            <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/>
                          </svg>
                        </button>
                        <ng-container *ngFor="let color of listadoValoraciones; let i = index">
                          <img *ngIf="comprobarInicioSesion()" src="assets/popcorn.png" [ngStyle]="{'filter': color}" alt="Palomitas" class="popcorn-icon" 
                          (click)="rateSeries(i + 1)">
                          <img *ngIf="!comprobarInicioSesion()" src="assets/popcorn.png" [ngStyle]="{'filter': color}" alt="Palomitas" class="popcorn-icon disabled" (click)="noLoggedAlert()">
                        </ng-container>
                      </div>
                    </div>
                    <div>
                        @if(userRating == 0){
                            <span class="strong" style="font-size: 20px;">Rating : Sin valorar</span>
                        }

                        @else {
                            <span class="strong" style="font-size: 20px;">Rating : {{userRating * 10}}</span>
                        }
                    </div>
                    

                      <div class="py-3">
                        <button (click)="getTrailer(series.id)" class="btn boton">Ver Trailer</button>
                      </div>
                </div>
            </div>

            <div class="details-down" style="position: relative; top:250px; width:1000px;" >
                <div class="movie-description mb-4 w-100">
                    <p class="text-white">{{ descripcion }}</p>
                </div>

                
                @if(cast?.cast!.length > 0){
                    <h2 class="mb-4">Reparto</h2>
                    <div class="d-flex justify-content-center" style="position:relative; left:0px;">
                        
                        <div *ngFor="let actor of cast?.cast?.slice(0, 7)" class=" d-flex flex-column text-wrap mx-2" style="width:130px;">
                            <a [routerLink]="['/person', actor.id]" class="">
                                <img [src]="actor.profile_path ? obtenerImagenOriginal(actor.profile_path) : 'https://placehold.co/150x230?text=Imagen+no+disponible'"
                                alt="nombre de actor" class="" style="border: 3px white solid" style="width:130px;">
                            </a>
                            <div class="d-flex flex-column">
                                <p class="text-truncate">{{ actor.name ? actor.name : nombre }}</p>
                                <p class="text-truncate">{{ actor.character }}</p>
                            </div>
                        </div>
                        
                    </div>
                }@else{
                    <div style="position: relative; height:360px;">
                        <p style="font-size: 20pt;">No se ha aportado información adicional</p>
                    </div>
                }
                

                <!-- <h2 class="text-start mb-4 text-white text-center temporadas-title">Temporadas</h2>
                <div class="test temporadas-section">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-8" style="border-radius: 40px;">
                                <mat-accordion style="border-radius: 40px;">
                                    <div *ngFor="let serie of series[0].seasons">
                                        <mat-expansion-panel class="no-border-radius" style="border-radius: 0;"
                                            hideToggle>
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>{{ serie.name }}</mat-panel-title>
                                                <mat-panel-description>
                                                    Descripción
                                                </mat-panel-description>
                                            </mat-expansion-panel-header>
                                            <p>{{ serie.overview }}</p>
                                        </mat-expansion-panel>
                                    </div>
                                </mat-accordion>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div> 

        </div>
    </div>
    
        <div class="movie-details-left container mb-4">

            <div class="row mb-4">
                <div class="col-12 d-flex align-items-center">
                    <i class="fas fa-check-circle me-3" style="font-size: 2rem; color: white;"></i>
                    <div>
                        <h4 class="mb-1 fw-bold">Estado:</h4>
                        <h5 class="text-light">{{ status }}</h5>
                    </div>
                </div>
            </div>
        
            <div class="row mb-4">
                <div class="col-12">
                    <div class="d-flex align-items-center mb-3">
                        <i class="fas fa-tv me-3" style="font-size: 2rem; color: white;"></i>
                        <h4 class="mb-0 fw-bold">Canales:</h4>
                    </div>
                    <div class="row mt-2">
                        @if(networkList != undefined && networkList.length > 0 && networkList[0].logo_path != null){
                            @for(canales of networkList; track canales){
                                <div class="col-3 text-center">
                                    <img *ngIf="canales.logo_path" 
                                        [src]="'https://image.tmdb.org/t/p/w500/' + canales.logo_path" 
                                        alt="Logo del canal" 
                                        class="img-fluid rounded" 
                                        style="max-width: 100px; padding-left : 20%">
                                    <img *ngIf="!canales.logo_path" 
                                        src="https://placehold.co/150x230?text=Imagen+no+disponible" 
                                        alt="placeholder" 
                                        class="img-fluid rounded" 
                                        style="max-width: 100px;">
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        
            <div class="row mb-4">
                <div class="col-12 d-flex align-items-center">
                    <i class="fas fa-globe me-3" style="font-size: 2rem; color: white;"></i>
                    <div>
                        <h4 class="mb-1 fw-bold">Idioma Original:</h4>
                        <h5 class="text-light">{{ lenguage }}</h5>
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-12">
                  <div class="d-flex align-items-center mb-3">
                    <i class="fas fa-tags me-3" style="font-size: 2rem; color: white;"></i>
                    <h4 class="mb-0 fw-bold">Palabras claves:</h4>
                  </div>
                  <div class="mt-2" style="padding-left: 20px;">
                    <span *ngFor="let keyword of keyWords" class="badge text-dark badge-separation">
                      {{ keyword }}
                    </span>
                  </div>
                </div>
              </div>
        </div>
    
    
