<app-nav-bar></app-nav-bar>

<div class="container-fluid">

    <div class="row justify-content-between mt-3 mx-2">

        <div class="col-2 align-content-center">
            <h2 class="text-light">Mis listas</h2>
        </div>

        <div class="col-5 align-content-center">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Nombre listado nuevo..." aria-label="Agregar listado" aria-describedby="basic-addon2"
                [(ngModel)]="newListName">
                <div class="input-group-append">
                    @if(newListName != ''){
                        <button class="btn colored-aqua fw-bold button-add" type="button" (click)="createList()">Crear listado</button>
                    }
                    @else{
                        <button class="btn btn-light fw-bold button-add" type="button" disabled>Crear listado</button>
                    }
                  
                </div>
            </div>
        </div>
        
    </div>

    <div class="row justify-content-center align-content-center">

        
        
        @for(item of myList ; track item.id){
            <div class="col-12 col-lg-6 col-xxl-4 mb-3">

                
                <div class="list-container rounded-2 mx-auto">
                    <div class="buttons-list">
                        <button class="btn btn-light btn-left" (click)="open(item.id)">

                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#8B1A10"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>

                        </button>
                        <button class="btn btn-light btn-right" (click)="openVerticallyCentered(content , item.id)">

                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/></svg>

                        </button>
                    </div>
                    <div class="img-overlay"></div>
                    <img [src]="getBackPhoto(item.id)" alt="Imagen de {{item.name}}" class="img-fluid img-filter rounded-2">
                    <div class="text-img">
                        <p class="mb-0 text-light fw-bold">
                            {{item.name}}
                        </p>
                        <p class="badge text-bg-secondary fs-6 mt-2">
                           <span class="pe-2">{{item.item_count}}</span> elemento/s
                        </p>
                    </div>
                </div>
            
            </div>
            <ng-template #content let-modal>
                <div class="modal-header">
                    <h4 class="modal-title">{{item.name}}</h4>
                    <button type="button" class="btn-close me-2" aria-label="Close" (click)="modal.dismiss('Cross click')" tabindex="-1"></button>
                </div>
                <div class="modal-body">

                    @if(item.item_count<=0){
                        <p class="text-center text-dark mt-2">Nada por aquí nada por allá... 
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#09273c"><path d="M80-140v-320h320v320H80Zm80-80h160v-160H160v160Zm60-340 220-360 220 360H220Zm142-80h156l-78-126-78 126ZM863-42 757-148q-21 14-45.5 21t-51.5 7q-75 0-127.5-52.5T480-300q0-75 52.5-127.5T660-480q75 0 127.5 52.5T840-300q0 26-7 50.5T813-204L919-98l-56 56ZM660-200q42 0 71-29t29-71q0-42-29-71t-71-29q-42 0-71 29t-29 71q0 42 29 71t71 29ZM320-380Zm120-260Z"/></svg>
                        </p>
                    }

                    <div class="input-group mb-5">
                        <input type="text" placeholder="Buscar película o serie..." aria-label="Agregar listado" aria-describedby="basic-addon3"
                        [(ngModel)]="query" class="form-control py-2" tabindex="-1">
                        <div class="input-group-append">
                            @if(query != ''){
                                <button class="btn colored-aqua fw-bold button-add btn-a-remake py-2" type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M380-320q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l224 224q11 11 11 28t-11 28q-11 11-28 11t-28-11L532-372q-30 24-69 38t-83 14Zm0-80q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/></svg>
                                </button>
                            }
                            @else{
                                <button class="btn btn-secondary fw-bold button-add btn-a-remake py-2" type="button" disabled>
                                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000000"><path d="M380-320q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l224 224q11 11 11 28t-11 28q-11 11-28 11t-28-11L532-372q-30 24-69 38t-83 14Zm0-80q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"/></svg>
                                </button>
                            }
                          
                        </div>
                    </div>

                    <div class="container-fluid">
                        @for(itemDetail of itemDetailsList; track itemDetail){
                            
                            <div class="row align-content-center mb-2">
                                <div class="col-1">
                                    <img [src]="getImageUrl(itemDetail.poster_path)" alt="Imagen de {{itemDetail.title}}" 
                                    class="d-block" style="height:50px; width:35px;">
                                </div>
                                <div class="col-6 align-content-center">
                                    @if(itemDetail.title){
                                        <p class="mb-0 text-truncate">{{itemDetail.title}}</p>
                                    }
                                    @else{
                                        <p class="mb-0 text-truncate">{{itemDetail.name}}</p>
                                    }
                                </div>
                                <div class="col-1">
                                    <circle-progress
                                        class="bg-light rounded-circle"
                                        [percent]=punctFormater(itemDetail.vote_average)
                                        [radius]=20
                                        [outerStrokeWidth]=5
                                        titleFontSize='15'
                                    ></circle-progress>
                                </div>
                                <div class="col-1 align-content-center">
                                    <p class="mb-0">{{itemDetail.media_type}}</p>
                                </div>
                                <div class="col-2 align-content-center">
                                    @if(itemDetail.release_date){
                                        <p class="mb-0">{{dateFormater(itemDetail.release_date)}}</p>
                                    }
                                    @else{
                                        <p class="mb-0">{{dateFormater(itemDetail.first_air_date)}}</p>
                                    }
                                    
                                </div>
                                <div class="col-1 align-content-center">
                                    <button class="btn btn-outline-danger align-content-center justify-content-center text-center" (click)="deleteItemFromList(item.id , itemDetail.id)">
                                        <i class="bi bi-trash3"></i>
                                    </button>
                                </div>
                            </div>
                            
                        }
                    </div>

                </div>
                
            </ng-template>
        }
        

    </div>

</div>

