<div class="container-fluid justify-content-center">

  <div class="row justify-content-start bgapp">

      <div class="col-sm-3 col-lg-2 col-xxl-1">
          <div class="align-content-center">
              <a [routerLink]="['/home']">

                  <img src="assets/pipocapp-logo.jpg" alt="Logo de la empresa PipocApp"
                      style="width: 140px;">
                
              </a>
          </div>
      </div>

      <nav class="col-6 navbar navbar-expand ms-3" style="font-size: 15pt; font-weight: 500; color:black;">
          <div class="container-fluid">
            <div id="navbarSupportedContent">
              <ul class="navbar-nav me-auto">
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/movie-list']">
                    @if(lang == 'es-ES'){
                      <span>Películas populares</span>
                    }@else{
                      <span>Popular movies</span>
                    }
                    </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/people']">
                    @if(lang == 'es-ES'){
                      <span>Actores</span>
                    }@else{
                      <span>Actors</span>
                    }
                    </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" [routerLink]="['/series']">
                    @if(lang == 'es-ES'){
                      <span>Series populares</span>
                    }@else{
                      <span>Popular tv shows</span>
                    }
                    </a>
                </li>
                
              </ul>
              
            </div>
          </div>
      </nav>


      <div class="col-3 ms-auto d-flex align-items-center justify-content-end me-2">
           @if(isLoggedIn()) {

            <mat-toolbar class="me-5">
              <button mat-icon-button [matMenuTriggerFor]="menu" class="mat-btn">
                <img src="{{userPhoto}}" alt="Avatar" class="avatar img-thumbnail"/>
              </button>
            </mat-toolbar>
            
            <mat-menu #menu="matMenu" class="mat-menu-container-style mt-3 w-75">
              <button mat-menu-item class="ps-3" (click)="navigateTo('/user-lists')">
                @if(lang == 'es-ES'){
                  <span>Mis listados</span>
                }@else{
                  <span>My lists</span>
                }
              </button>
              <button mat-menu-item class="ps-3" (click)="navigateTo('/series/rated')">
                @if(lang == 'es-ES'){
                  <span>Series & Peliculas votadas</span>
                }@else{
                  <span>Rated shows or movies</span>
                }
              </button>
              <button mat-menu-item class="ps-3" (click)="navigateTo('/fav-list')">
                @if(lang == 'es-ES'){
                  <span>Favoritos</span>
                }@else{
                  <span>Favorites</span>
                }
              </button>
              <button mat-menu-item class="ps-3" (click)="navigateTo('/watchlist')">
                @if(lang == 'es-ES'){
                  <span>Tu watchlist</span>
                }@else{
                  <span>Your watchlist</span>
                }
              </button>
              <button mat-menu-item class="ps-3">
                <p class="mb-0 mt-2">
                  @if(lang == 'es-ES'){
                  <span>Cambiar lenguaje</span>
                }@else{
                  <span>Swap language</span>
                }
                </p>
                <div class="d-flex mx-auto justify-content-evenly ps-0 my-2" style="flex: row;">
                  <button class="btn btn-success p-2" (click)="swapLang('en-US')">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/d/de/Flag_of_the_United_States_%281837%E2%80%931845%29.svg" class="" style="width: 40px; height:25px;" />
                  </button>
                  <button class="btn btn-success p-2 me-3" (click)="swapLang('es-ES')">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Bandera_de_Espa%C3%B1a.svg" class="" style="width: 40px; height:25px;" />
                  </button>
                </div>
              </button>
            </mat-menu>
            

            <button class="learn-more" (click)="logout()">
              <span class="circle" aria-hidden="true" (click)="logout()">
              <span class="icon arrow"></span>
              </span>
              @if(lang == 'es-ES'){
                <span class="button-text">Cerrar&nbsp;sesión</span>
              }@else{
                <span class="button-text">Logout</span>
              }
              
            </button>
            }@else {
              
              <button class="learn-more" (click)="createRequestToken()">
                <span class="circle" aria-hidden="true" (click)="createRequestToken()">
                <span class="icon arrow"></span>
                </span>
                @if(lang == 'es-ES'){
                  <span class="button-text">Inicia&nbsp;sesión</span>
                }@else{
                  <span class="button-text">Login</span>
                }
              </button>
            }
      </div>

  </div>

  
</div>