<app-nav-bar></app-nav-bar>
<circle-progress
class="bg-light rounded-circle"
[percent]=70
[radius] = 38
[space] = -20
[unitsColor] = "'#09273c'"
[outerStrokeWidth] = 7
[outerStrokeColor] = "'#00ffae'"
[innerStrokeWidth] = 0
[titleColor] = "'#09273c'"
[showSubtitle] = "false"
[showUnits] = "false"
[showBackground] = "false"
[showInnerStroke] = "false"
[startFromZero] = "false"
></circle-progress>

<div id="firstFilter" class="filter-switch">
  <input checked="" id="option1" name="options" type="radio" />
  <label class="option" for="option1">Option 1</label>
  <input id="option2" name="options" type="radio" />
  <label class="option" for="option2">Option 2</label>
  <input id="option3" name="options" type="radio" />
  <label class="option" for="option3">Option 3</label>
  <span class="background"></span>
</div>

<div id="secondFilter" class="filter-switch-second my-2">
    <input checked="" id="option7" name="options-second" type="radio" />
    <label class="option-second" for="option7">Option 1</label>
    <input id="option8" name="options-second" type="radio" />
    <label class="option-second" for="option8">Option 2</label>
    <span class="background-second"></span>
</div>
