<app-nav-bar></app-nav-bar>

<div class="container-fluid row align-items-center justify-content-around mt-3">
  @for(item of topRatedList; track item){

    <div class="movie-card col-2">
      <circle-progress
        class="bg-light rounded-circle"
        [percent]=punctFormater(item.vote_average)
        style="position: relative; top: 30px;right: -160px;z-index: 1;"
        ></circle-progress>

      <div class="card-img" [style.background-image]="'url(' + getImageUrl(item.poster_path) + ')'"></div>
      <p class="text-light text-truncate mt-2" style="font-size: 13pt;">
        {{item.title}}
      </p>
      <p class="text-truncate colored-aqua" style="font-size: 13pt; margin-top: -15px;">
        {{dateFormater(item.release_date)}}
      </p>
    </div>

  }
</div>

<circle-progress
class="bg-light rounded-circle"
[percent]=70
></circle-progress>

<div id="firstFilter" class="filter-switch">
  <input checked="" id="option1" name="options" type="radio" />
  <label class="option" for="option1">Option 1</label>
  <input id="option2" name="options" type="radio" />
  <label class="option" for="option2">Option 2</label>
  <input id="option3" name="options" type="radio" />
  <label class="option" for="option3">Option 3</label>
  <span class="background"></span>
</div>

<div id="secondFilter" class="filter-switch-second my-2">
    <input checked="" id="option7" name="options-second" type="radio" />
    <label class="option-second" for="option7">Option 1</label>
    <input id="option8" name="options-second" type="radio" />
    <label class="option-second" for="option8">Option 2</label>
    <span class="background-second"></span>
</div>
